<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="flexbox">
        <div class="search">
            <h1>Purchase History</h1>
            <h3>Past products your customer "{{ customer_id }}" bought:</h3>
            {% if history %}
                <ul>
                    {% for result in history %}
                        <li>{{ result }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No results found for your search.</p>
            {% endif %}
            <a href="{{ url_for('index') }}">Back to Search</a>
        </div>
    </div>
</body>
</html>
