<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="flexbox">
        <div class="search">
            <h1>Location Result</h1>
            <h3>Where your customer "{{ customer_id }}" is located:</h3>
            {% if location %}
                <p>{{ location }}</p>
            {% else %}
                <p>No results found for your search.</p>
            {% endif %}
            <a href="{{ url_for('index') }}">Back to Search</a>
        </div>
    </div>
</body>
</html>
